<div class="ui grid stackable">
  <div class="five wide column">

      <div class="ui raised celled list segment">
        <div class="ui segment" *ngIf = "role == '[ROLE_ADMIN]'">
        <a [routerLink]="['prescription']" class="item custom" routerLinkActive="active">Prescription</a>
        </div>
        <div class="ui segment" *ngIf = "role == '[ROLE_ADMIN]'">
        <a [routerLink]="['medications']" class="item custom" routerLinkActive="active">Medications</a>
        </div>

        <div class="ui segment" *ngIf = "role == '[ROLE_ADMIN]'">
        <a [routerLink]="['users']" class="item custom" routerLinkActive="active">Users</a>
        </div>
        <div class="ui segment" *ngIf = "role == '[ROLE_PATIENT]'">
        <a [routerLink]="['prescribedMedications']" class="item custom" routerLinkActive="active">Prescribed Medications</a>
        </div>
      </div>

  </div>

  <div class="eleven wide column">
    <router-outlet></router-outlet>
  </div>

</div>
