<form [formGroup]="prescriptionForm" (ngSubmit)="onSubmit()">

  <div class="ui segment">
<p>
  <label for="patient">Patient </label>
  <select id="patient" name="patient"  formControlName="patient">
    <option [ngValue]="p.username" *ngFor="let p of users">
      {{p.username}}
    </option>
  </select>
</p>
  </div>

  <div class="ui segment">
  <p>
    <label for="medication"> Medication </label>
    <select id="medication" name="medication"  formControlName="medication">
      <option [ngValue]="m.id" *ngFor="let m of medications">
        {{m.medicineName}}
      </option>
    </select>
  </p>
  </div>

<!--  <p>-->
<!--    <label for="dosage">Dosage </label>-->
<!--    <input type="text" id="dosage" name="dosage" formControlName="dosage">-->
<!--  </p>-->

<p>
  <button class="ui submit button primary" type="submit">Submit</button>
</p>

</form>
