
<h3>List of Medication taken:</h3>
<div class="ui celled list">
  <div class="item">
    <table class="ui celled table">
      <thead>
      <tr>
        <th> SN </th>
        <th>Medication Name</th>
        <th>Medication Taken Time</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor = "let m of prescribedMedicationTakenList; index as i">
        <td>{{i+1}}</td>
        <td>{{m.medicationName}}</td>
        <td>{{m.medicationTime}}</td>
      </tr>
      </tbody>
    </table>

  </div>
</div>


<h3>List of Prescribed Medications:</h3>
<h4>Choose and Submit to record your medication.</h4>
<form [formGroup]="prescribedMedicationsForm" (ngSubmit)="onSubmit()">

  <div class="ui raised segments" *ngFor=" let m of userMedications; index as i">
    <div class="ui segment">
  <p>
    {{i+1}}. {{m.medicineName}}
    <input type="checkbox" (change)="check($event, m.id)" id="doesTaken" name="doesTaken" formControlName="doesTaken">
  </p>
    </div>
  </div>


  <p>
    <button class="ui submit button primary" type="submit">Submit</button>
  </p>

</form>
