
<h3>List of Medicines:</h3>
<div class="ui celled list">
  <div class="item">
    <table class="ui celled table">
      <thead>
      <tr>
        <th> SN </th>
        <th>Medication Name</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor = "let medication of medicationsList; index as i">
        <td>{{i+1}}</td>
        <td>{{medication.medicineName}}</td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
<h3>Create a new medication</h3>
<form (ngSubmit) = "onSubmit()" class="ui form" [formGroup] = "authForm">

  <app-input inputType = "text" label="Medication Name" [control]="authForm.get('medicine_name') "></app-input>
  <app-input inputType = "text" label="Manufactured By" [control]="authForm.get('manufactured_by') "></app-input>
  <app-input inputType = "text" label="Dosage" [control]="authForm.get('dosage') "></app-input>


  <div>
    <button class="ui submit button primary">Create New Medication</button>
  </div>

</form>
