<div class="ui-container">
  <div class="ui secondary pointing menu">
  <a routerLink="'/" class="item">Patient Record Management System</a>

    <div class="right menu">
      <ng-container *ngIf="signedIn$ | async">
      <a class="ui item" routerLink="/dashboard" routerLinkActive="active">Profile {{ username }}</a>
      <a class="ui item" routerLink="/signOut" routerLinkActive="active">Sign Out</a>
      </ng-container>

      <ng-container *ngIf="!(signedIn$ | async)">
      <a class="ui item" routerLink="/" [routerLinkActiveOptions]="{ exact : true}"  routerLinkActive="active">Sign In</a>
      <a class="ui item" routerLink="/signUp" routerLinkActive="active">Sign Up</a>
      </ng-container>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>

