<div class="field>">
  <label> {{label}}</label>
  <input [type] = 'inputType' [formControl] = "control" />
  <div *ngIf = "showErrors()" class="ui pointing red basic label">
    <p *ngIf="control.errors.required">Value is required.</p>
    <p *ngIf="control.errors.minlength">Value entered must be at least of {{ control.errors.minlength.requiredLength}} characters</p>
    <p *ngIf="control.errors.maxlength">Value entered must not be more than {{ control.errors.maxlength.requiredLength}} characters</p>
    <p *ngIf="control.errors.pattern">Value entered must not use special symbols.</p>
    <p *ngIf="control.errors.nonUniqueUsername">Value entered has been already taken.</p>
  </div>
</div>
