<h3>Sign In</h3>

<form (ngSubmit) = "onSubmit()" class="ui form " [formGroup] = "authForm">
  <div class="field">
<app-input inputType = "text" label="Username" [control]="authForm.get('username') "></app-input>
  </div>
  <div class="field">
<app-input inputType = "password" label="Password" [control]="authForm.get('password') "></app-input>
  </div>
  <div *ngIf="authForm.errors" class="ui red basic label">
    <p *ngIf="authForm.errors.credentials">
      Invalid user credentials.
    </p>
  </div>

  <div>
  <button class="ui submit button primary">Submit</button>
  </div>
</form>

