
<h3>List of Patients:</h3>
<div class="ui celled list">
  <div class="item">
    <table class="ui celled table">
      <thead>
      <tr>
        <th> SN </th>
        <th>Patient Name</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor = "let medication of patientList; index as i">
        <td>{{i+1}}</td>
        <td>{{medication.username}}</td>
      </tr>
      </tbody>
    </table>

  </div>
</div>

<h3>Create a new User</h3>
<form (ngSubmit) = "onSubmit()" class="ui form" [formGroup] = "authForm">

  <app-input inputType = "text" label="Username" [control]="authForm.get('username') "></app-input>
  <app-input inputType = "text" label="Password" [control]="authForm.get('password') "></app-input>


  <div>
    <button class="ui submit button primary">Create User</button>
  </div>

</form>
